body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 150vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 15px; /* Adjusted padding */
}

.frase-container {
    flex: 1;
    text-align: left; /* Adjusted alignment */
    color: #4B13C0;
    font-size: 25px;
    font-weight: bold;
}

.right-links {
    font-size: 25px;
    display: flex;
    gap: 50px; /* Space between links */
    padding-right: 35px;
}

.right-links a {
    color: #4B13C0;
    text-decoration: none;
    font-size: 15px;
}

.right-links a:hover {
    text-decoration: underline;
}

.frase-container {
    width: 100%;
    background-color: white;
    color: #4B13C0;
    text-align: center;
    font-size: 15px;
    padding: 5px 0; /* Reduced padding */
}

nav {
    width: 100%;
    background-color: #4B13C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul.left {
    flex: 1;    
    display: flex;
    justify-content: flex-start;
}

nav ul.right {
    flex: 1;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 20px;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    background-color: #4B13C0;
}

nav .nav-logo {
    max-height: 35px;
    margin-right: 45px;
    margin-left: 45px;
}

.widgets {
    max-height: 28px;
    margin-top: 10px;
}

.container {
    width: 55%;
    background: white;
    border-radius: 12px;
    margin: 5px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    justify-content: center;
    display: flex;
    max-width: 100%;
    margin-top: 12px;
    text-align: center;
    flex-grow: 1;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 49.7%; /* Para tener dos columnas */
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
}


.form-group select {
    position: relative;
}

label {
    width: 55%;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 5px;
    color: black;
    font-weight: bold;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #4B13C0;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    grid-column: span 2;
}

input[type="text"],
input[type="number"]{
    padding: 12px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

.result-container {
    text-align: center;
    margin-top: 30px;
}

.result {
    font-size: 20px; /* Reduced font size */
    color: #333;
    display: flex;
    justify-content: center; /* Distribuir los recuadros equitativamente */
    margin-top: 20px;
}

.result-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px; /* Reduced padding */
    width: 20%; /* Reduced width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 5px; /* Reduced margin */
    font-weight: bold; /* Make text bold */
}

.result-box h3 {
    background-color: #4B13C0;
    color: white;
    padding: 5px; /* Reduced padding */
    font-size: 19px; /* Reduced font size */
    margin: -20px -20px 10px -20px;
}

.result-box .precio {
    color: black;
    font-size: 35px; /* Reduced font size */
    font-weight: bold;
    margin: 10px 0;
}

.result-box .mensaje-negro{
    color: black;
    font-size: 20px;
    text-align: justify;
    font-weight: lighter;
}

.result-box .mensaje-morado{
    color: #3A0FA0;
    font-size: 20px;
    text-align: justify;
}

.result-box .mensaje-morado2{
    color: #3A0FA0;
    font-size: 20px;
    text-align: justify;
}

.result-box .mensaje-morado3{
    color: #3A0FA0;
    font-size: 18.5px;
    text-align: justify;
    font-weight: lighter;
}

.mensaje {
    font-size: 25px; /* Reduced font size */
    color: black;
    text-align: center;
    font-weight: bolder; /* Make text bold */
}

.mensaje-sub {
    font-size: 20px; /* Reduced font size */
    color: #374151;
    text-align: center;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mensaje-behind {
    font-size: 14px; /* Reduced font size */
    color: #374151;
    text-align: center;
}

.green-bar {
    width: 100%;
    background-color: #e2f46b; /* Green-yellow color */
    color: black;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-weight: bold;
    flex-shrink: 0;
}

.green-bar button {
    background-color: #4B13C0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 27px;
    font-weight: bold;
}

.green-bar button:hover {
    background-color: #3A0FA0;
}

#btnInteresa {
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px; /* Reduced padding */
    background-color: transparent;
    color: #3A0FA0;
    border: 2.2px solid #3A0FA0;
    border-radius: 8px;
    font-size: 20px; /* Reduced font size */
    width: 100%; /* Hace que el botón tome todo el ancho disponible del contenedor */
    max-width: 400px; /* Ajusta el valor máximo del ancho según tus necesidades */
    display: block; /* Asegura que el botón sea un elemento de bloque para ocupar todo el ancho */
    margin: 0 auto; /* Centra el botón dentro de su contenedor */
}

#btnInteresa:hover {
    background-color: #3A0FA0;
    color: white;
}



/* FOOTER*/
.footer {
    background-color: #3A0FA0;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: relative; /* Cambiado de fixed a relative */
    bottom: 0;
    left: 0;
    clear: both; /* Asegura que el footer quede debajo del contenido */
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; /* Permite que las secciones se ajusten en varias líneas si es necesario */
}

.footer-section {
    flex: 1;
    padding: 10px;
    text-align: left; /* Asegura que el contenido esté alineado a la izquierda */
}

.footer-section.image-section .nav-logo {
    text-align: left;
    max-height: 100px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #3A0FA0;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

/* Estilo para el select */
select {
    width: 72%;
    padding: 12px;
    margin-bottom: 5px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: black;
    cursor: pointer;
    /*appearance: none; /* Para quitar la flecha predeterminada del navegador */
}

.form-group select::after {
    content: '▼';
    font-size: 16px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Estilo para las opciones del select */
option {
    padding: 10px;
    font-size: 16px;
    background-color: white;
    font: 700;
    color: black;
}
