<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizador de Autos - CARLO.PE</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="top-bar">
        <div class="frase-container">
            <p class="frase">¡Compra tu próximo auto con 3 meses de garantía!</p>
        </div>
        <div class="right-links">
            <a href="#nosotros">NOSOTROS</a>
            <a href="#faq">FAQ</a>
        </div>
    </div>
    <nav>
        <img src="logo.png" alt="Logo" class="nav-logo">
        <ul class="left">
            <li><a href="#compra">COMPRA</a></li>
            <li><a href="#vende">VENDE</a></li>
            <li><a href="#cambia">CAMBIA</a></li>
        </ul>
        <ul class="right">
            <li><a href="#favoritos">FAVORITOS</a></li>
            <li><a href="#inicia-sesion">INICIA SESIÓN</a></li>
        </ul>
    </nav>
    <div class="container" id="cotizarFormContainer">
        <form id="cotizarForm">
            <div class="form-group">
                <label for="nombreCliente">Nombre de cliente:</label>
                <input type="text" id="nombreCliente" name="nombreCliente" required><br><br>
            </div>
            <div class="form-group">
                <label for="pvp_mercado">PVP Mercado:</label>
                <input type="text" id="pvp_mercado" name="pvp_mercado" required><br><br>
            </div>
            <div class="form-group">
                <label for="kilometraje">Kilometraje:</label>
                <input type="text" id="kilometraje" name="kilometraje" required><br><br>
            </div>
            <div class="form-group">
                <label for="rotacion">Rotación:</label>
                <select id="rotacion" name="rotacion" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select><br><br>
            </div>
            <button type="submit">Cotizar</button>
        </form>
    </div>
    <div id="resultadoCotizacion" class="result-container" style="display: none;">
        <div class="mensaje">
            <h2>¡<span id="clienteNombre"></span>, muchas gracias por pedir una cotización!</h2>
            <p class="mensaje-sub">Estamos felices por comprarte tu carro, por ello te ofrecemos las siguientes ofertas aproximadas. <br> La oferta final se brinda después de la inspección. <br></p>
        </div>
        <div class="result">
            <div class="result-box">
                <h3>VENTA INMEDIATA</h3>
                <p class="precio">$<span id="valorFinal"></span></p>
                <p class="mensaje-morado">¡Compramos tu auto en 1 hora! o puedes dejarlo como parte de pago <strong class="mensaje-negro">al comprar a través de nuestro showroom. <br> Solicita una inspección y obtén una propuesta final.</strong></p>
            </div>
            <div class="result-box">
                <h3>VENTA A PARTE DE PAGO</h3>
                <p class="precio">$<span id="valorPartePago"></span></p>
                <p class="mensaje-morado">¡Deja tu auto como parte de pago y te pagamos más!<br> <strong class="mensaje-negro">Recibe más dólares dejando tu auto viejo y llevándote uno más nuevo. Solicita una inspección y obtén una propuesta final.</strong></p>
            </div>
            <div class="result-box">
                <h3>VENTA SUBASTA</h3>
                <p class="mensaje-negro">Pronto habilitaremos esta opción para que vender tu auto sea más justo y rápido! <strong class="mensaje-morado2">El precio lo defines tú.</strong>
                <strong class="mensaje-morado3"><br>¿Te gustaría participar de la subasta? Déjanos tus comentarios para mantenerte informado.</strong></p>
                <button id="btnInteresa">¡ME INTERESA!</button>
            </div>
        </div>
        <p class="mensaje-behind"> *La oferta está sujeta a la evaluación final del asesor comercial e inspección del auto.</p>
    </div>
    <div class="green-bar">
        <p>SOLICITA TU INSPECCIÓN Y RECIBE EL PAGO DE LA OFERTA ELEGIDA</p>
        <button>SOLICITAR INSPECCIÓN</button>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section image-section">
                <img src="https://www.carlo.pe/images/logo-carlope.png" alt="Logo" class="nav-logo">
            </div>
            <div class="footer-links">
                <div class="footer-section links">
                    <h3>NOSOTROS</h3>
                    <ul>
                        <li><a href="#historia">Conoce nuestra historia</a></li>
                    </ul>
                </div>
                <div class="footer-section links">
                    <h3>SOLUCIONES</h3>
                    <ul>
                        <li><a href="#compra">Compra tu auto</a></li>
                        <li><a href="#vende">Vende tu auto</a></li>
                    </ul>
                </div>
                <div class="footer-section links">
                    <h3>LEGAL</h3>
                    <ul>
                        <li><a href="#terminos">Términos y condiciones</a></li>
                        <li><a href="#privacidad">Políticas de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-section contact">
                    <h3>CONTACTA</h3>
                    <ul>
                        <li><a href="mailto:contacto@carlo.pe">contacto@carlo.pe</a></li>
                        <li><a href="tel:+51934140910">+51 934 140 910</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 CARLO. Todos los derechos reservados.  -Cesar Morales-</p>
        </div>
    </footer>
    <script>
        function formatNumberWithCommas(input) {
            // Elimina comas existentes
            let value = input.value.replace(/,/g, '');
            
            // Verifica si el valor es un número
            if (!isNaN(value) && value !== '') {
                // Formatea el número con comas
                let formattedValue = parseFloat(value).toLocaleString('en-US');
                
                // Actualiza el valor del campo de entrada
                input.value = formattedValue;
            }
        }

        document.getElementById('pvp_mercado').addEventListener('input', function() {
            formatNumberWithCommas(this);
        });

        document.getElementById('kilometraje').addEventListener('input', function() {
            formatNumberWithCommas(this);
        });
        
        document.getElementById('cotizarForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Previene el envío del formulario
            // Obtén los datos del formulario
            const formData = new FormData(this);
            // Realiza la solicitud AJAX
            fetch('/cotizar', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const valorFinal = parseFloat(data.valor_final).toLocaleString('en-US', {minimumFractionDigits: 0});
                const valorPartePago = Math.round(data.valor_partepago).toLocaleString('en-US');
                // Muestra el resultado
                document.getElementById('clienteNombre').textContent = formData.get('nombreCliente'); // Obtener el nombre del cliente desde el formulario
                document.getElementById('valorFinal').textContent = valorFinal;
                document.getElementById('valorPartePago').textContent = valorPartePago;
                document.getElementById('resultadoCotizacion').style.display = 'block';
                document.getElementById('cotizarFormContainer').style.display = 'none'; // Oculta el formulario
            })
            .catch(error => {
                console.error('Error:', error);     
            });
        });
    </script>
</body>
</html>
